body {
    font-family: Arial, sans-serif;
    margin: 50px;
    text-align: center;
}

input {
    padding: 10px;
    width: 250px;
    margin-right: 10px;
}

button {
    padding: 10px 10px;
    background-color: #28a745;
    color: white;
    border: none;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 10px 10px;
    background: #f4f4f4;
    margin-top: 5px;
    cursor: pointer;
}
li:hover {
    background: #e2e2e2;
}
ul li.completed {
    text-decoration: line-through;
    color: #888;
}
ul li.completed:hover {
    background: #d4d4d4;
}
ul li .delete {
    color: red;
    margin-left: 10px;
    cursor: pointer;
}
ul li .delete:hover {
    color: darkred;
}
.nav {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
    border-radius: 59px;
    text-decoration: none;
    text-align: horizontal;
}
nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    text-align: horizontal;
    padding-inline-end: 30px;
    padding-inline-start: 30px;
}
ul li a {
    text-decoration: none;
    color: #007bff;
    text-align: left;
    text-decoration: none;

}
ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 10px;
    margin: 10px 0;
    background-color: #f8f9fa;
    justify-content: space-between ;
    overflow-x: auto;

}
select#filter {
    padding: 10px;
    width: 150px;
    margin-left: 10px;
    justify-content: space-between;
}
label  {
    padding: 10px;
    width: 250px;
    margin-right: 10px;
    justify-content: space-between;
}
h3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: underline;
    font-weight: bold;
    color: #007bff;
}
footer {
    margin-top: 20px;
    font-size: 0.9em;
    color: #6c757d;
}
form {
    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f8f9fa;
}
textarea {
    display: block;
    margin-bottom: 20px;
    font-weight: bold;
     height: auto;
     padding: 10px 10px;
}
button button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    justify-content: space-between;
    justify-content: space-around;
    display: flex;
    flex-direction: row ;

}